<div class="row mb-5">
  <div class="col-md-4">
    {{#if user.image}}
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    {{else}}
    <img class="img-responsive center-block mb-5" src="https://fakeimg.pl/150/"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    {{/if}}

  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>名稱:</strong> {{user.name}}</li>
        <li><strong>帳號:</strong> {{user.email}}</li>
        {{#if user.isAdmin}}
        <li><strong>身分:</strong> 管理員</li>
        {{else}}
        <li><strong>身分:</strong> 一般用戶</li>
        {{/if}}
        <li><strong>{{user.commentCount}} </strong>間已評論餐廳</li>
        <li><strong>{{user.FavoritedRestaurants.length}} </strong>間已收藏餐廳</li>
        <li><strong>{{user.Followings.length}} </strong>followings (追蹤者)</li>
        <li><strong>{{user.Followers.length}} </strong>followers (追隨者)</li>
      </ul>
    </div>
    {{#if isSelf}}
    <a href="/users/{{user.id}}/edit">
      <button type="submit" class="btn btn-primary">edit</button>
    </a>
    {{/if}}
    {{#if isNotSelf}}
    {{#if isFollowed }}
    <form action="/following/{{user.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger">取消追蹤</button>
    </form>
    {{else}}
    <form action="/following/{{user.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary">追蹤</button>
    </form>
    {{/if}}
    {{/if}}
  </div>
  <hr>
</div>

<div class="row mb-5">
  <div class="col-md-4">
    <div class="card mb-5">
      <div class="card-header">
        {{user.Followings.length}} followings (追蹤者)
      </div>
      <div class="mt-3 d-flex flex-row overflow-auto">
        {{#each user.Followings}}
        <div class="">
          <div class="card mb-4 me-1 shadow-sm">
            <a href="/users/{{this.id}}">
              {{#if this.image}}
              <img class="card-img-top img-fluid small-image" src="{{this.image}}" alt="Card image cap" width="286px"
                height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              {{else}}
              <img src="https://fakeimg.pl/100x75/" class="card-img-top img-fluid small-image"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" . />
              {{/if}}
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-header">
        {{user.Followers.length}} followers (追隨者)
      </div>
      <div class="mt-3 d-flex flex-row overflow-auto">
        {{#each user.Followers}}
        <div class="">
          <div class="card mb-4 me-1 shadow-sm">
            <a href="/users/{{this.id}}">
              {{#if this.image}}
              <img class="card-img-top img-fluid small-image" src="{{this.image}}" alt="Card image cap" width="286px"
                height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              {{else}}
              <img src="https://fakeimg.pl/100x75/" class="card-img-top img-fluid small-image"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" . />
              {{/if}}
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-5">
      <div class="card-header">
        {{user.commentCount}} 間已評論餐廳
      </div>
      <div class="mt-3 d-flex flex-row overflow-auto">
        {{#each user.Comments}}
        <div class="">
          <div class="card mb-4 me-1 shadow-sm">
            <a href="/restaurants/{{this.restaurantId}}">
              <img class="card-img-top img-fluid small-image" src="{{this.Restaurant.image}}" alt="Card image cap"
                width="286px" height="180px" style="transition: opacity 0.5s; opacity:0;"
                onload="this.style.opacity=1;">
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-header">
        {{user.FavoritedRestaurants.length}} 間已收藏餐廳
      </div>
      <div class="mt-3 d-flex flex-row overflow-auto">
        {{#each user.FavoritedRestaurants}}
        <div class="">
          <div class="card mb-4 me-1 shadow-sm">
            <a href="/restaurants/{{this.id}}">
              <img class="card-img-top img-fluid small-image" src="{{this.image}}" alt="Card image cap" width="286px"
                height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>
<style>
  .small-image {
    width: 100px;
    height: 75px;
  }
</style>